.itinerary-operation-table {
    th {
        // text-align: right !important;
        vertical-align: bottom;
    }

    td {
        line-height: 1 !important;
        padding: 4px !important;
    }
}