
.title {
  font-family: var(--inter);
  font-weight: 400;
  color: var(--text-color);

  &_very-litle {
    font-size: 16px;
  }

  &_litle{
    font-size: 20px;
  }

  &_very-litle{
    font-size: 16px;
  }

  &_bold {
    font-weight: 600;
  }

  &_tiny {
    font-weight: 200;
  }

  &_big {
    font-size: 48px;
  }

}

.text {
  font-family: var(--roboto-mono);
  font-weight: 400;
  color: var(--text-color);

  &_litle {
    font-size: 14px;
  }

  &_big {
    font-size: 20px;
  }

  &_tiny {
    font-weight: 300;
  }

  &_bold {
    font-weight: 600;
  }
}