.nav-bar {
	& li {
		&::after {
			border-color: var(--placeholder) !important;
		}

		&:hover::after {
			border-color: var(--hover) !important;
		}

		&.ant-menu-item-selected::after {
			border-color: var(--active) !important;
		}

		&.no-hover::after {
			border-color: transparent !important;
		}
	}
}
