@import "tailwindcss";

.product-table {
    &__title {
        color: var(--foreground);
    }

    td {
        line-height: 0 !important;
        padding: 6px 4px !important;
    }
    & .ant-table-title, .ant-table-footer {
        background: var(--activeElement);
    }

    & .ant-table {
        @apply rounded-2xl;
    }

    &.collapsed table {
        display: none;
    }
}